<script setup>
import { instantWeather } from '@/stores/instantWeather.js';
import { hourlyWeather } from '@/stores/hourlyWeather.js';
import { ref} from 'vue';
import { RouterLink, routeLocationKey } from 'vue-router'
import InstantWeather from '@/components/InstantWeather.vue';
import HourlyWeather from '@/components/HourlyWeather.vue';
import DailyWeather from '@/components/DailyWeather.vue';
import { formsHandler } from '@/stores/favorites.js';
import { useRoute } from 'vue-router';

const route = useRoute();
const instant = instantWeather();
const hourly = hourlyWeather();
const forms = formsHandler();


let backgroundImageUrl = ref('');
let coords = ref(forms.favorites[route.params.id]);
let weatherInstant = ref();
let futurWeather = ref();
let futurByHour = ref([]);
let futurByDay = ref([]);

async function fetchWeather() {
    weatherInstant.value = await instant.getInstantWeather(coords.value.lat, coords.value.long);
    futurWeather.value  = await hourly.getHourlyWeather(coords.value.lat, coords.value.long);
    futurByHour.value = futurWeather.value.list.slice(0,7);
    futurByDay.value = [0, 8, 16, 24, 32].map(index => futurWeather.value.list[index]);
    backgroundImageUrl.value = `../src/assets/img/${weatherInstant.value.weather[0].main.toLowerCase()}.jpg`;      
}

fetchWeather(); 

</script>


<template>
    <RouterLink to="/">Index</RouterLink>
    <div
        class="flex flex-col min-h-screen p-4 pb-16 mx-auto"
        :style="{ backgroundImage: 'url(' + backgroundImageUrl + ')', backgroundSize: 'cover' }"
      >
      <InstantWeather v-if="weatherInstant" :instant="weatherInstant"/>
      <HourlyWeather v-if="futurWeather" :hourly="futurByHour"/>
      <DailyWeather v-if="futurWeather" :daily="futurByDay"/>
      
    </div>
  </template>