<script setup>

import FavoritesForms from '@/components/FavoritesForms.vue';
import { RouterLink } from 'vue-router'
</script>


<template>
  <RouterLink to="/">Retour sur la landing page</RouterLink>
  <div
      class="flex flex-col min-h-screen p-4 mx-auto"
      style="background: url('../src/assets/img/clear.jpg'); background-size: cover"
    >
      <div class="fixed text-4xl top-2 right-5">
        <a href="" class="text-white">x</a>
      </div>
      <FavoritesForms />
      
      
     
    </div>
</template>

