<script setup>
import { ref} from 'vue';
import { RouterLink } from 'vue-router'
import InstantWeather from '@/components/InstantWeather.vue';
import HourlyWeather from '@/components/HourlyWeather.vue';
import DailyWeather from '@/components/DailyWeather.vue';
import { geolocate } from '@/stores/geolocation.js';
import { instantWeather } from '@/stores/instantWeather.js';
import { hourlyWeather } from '@/stores/hourlyWeather.js';
import { formsHandler } from '@/stores/favorites';

const newPos = geolocate();
const instant = instantWeather();
const hourly = hourlyWeather();
const forms = formsHandler();

let backgroundImageUrl = ref('');
let coords = ref()
let weatherInstant = ref();
let futurWeather = ref();
let futurByHour = ref([]);
let futurByDay = ref([]);
let updata = ref();

async function fetchWeather() {
    coords.value = await newPos.getPos();
    weatherInstant.value = await instant.getInstantWeather(coords.value.lat, coords.value.long);
    futurWeather.value  = await hourly.getHourlyWeather(coords.value.lat, coords.value.long);
    futurByHour.value = futurWeather.value.list.slice(0,7);
    futurByDay.value = [0, 8, 16, 24, 32].map(index => futurWeather.value.list[index]);
    updata.value = {name:weatherInstant.value.name , lat:weatherInstant.value.coord.lat, long:weatherInstant.value.coord.lon};
    console.log(weatherInstant.value)
    backgroundImageUrl.value = `../src/assets/img/${weatherInstant.value.weather[0].main.toLowerCase()}.jpg`;
}

function updateFavorites(){
  forms.addToFavorites(updata.value);
}

fetchWeather(); 
</script>

<template>
  <RouterLink to="/favorites"> Vers les favoris</RouterLink>
  <div
      class="flex flex-col min-h-screen p-4 pb-16 mx-auto"
      :style="{ backgroundImage: 'url(' + backgroundImageUrl + ')', backgroundSize: 'cover' }"
    >
    <InstantWeather v-if="weatherInstant" :instant="weatherInstant"/>
    <HourlyWeather v-if="futurWeather" :hourly="futurByHour"/>
    <DailyWeather v-if="futurWeather" :daily="futurByDay"/>
    <div class="fixed inset-x-0 bottom-0 flex justify-center pb-4">
        <RouterLink
          class="w-16 h-16 text-4xl leading-8 text-center text-white transition duration-300 ease-in-out transform bg-blue-500 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none focus:shadow-outline hover:scale-105" to="/favorites" @click.prevent="updateFavorites"
        >
          +
        </RouterLink>
      </div>
  </div>
  
</template>

