<script setup>
const props = defineProps(["daily"]);
const day = ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"];

</script>


<template>
    <section class="p-5 bg-white rounded-lg shadow">
        <h2 class="mb-4 text-xl font-bold">Prochains Jours</h2>
        <div class="overflow-x-auto">
          <div class="flex space-x-8">
            <!-- Blocs de prévisions journalières ici -->
            <div v-for='(data, index) in props.daily' :key="index" class="text-center">
              <p class="text-lg">{{ day[new Date(data.dt_txt).getDay()] }}</p>
              <div class="w-20 h-20 ml-2 text-yellow-300">
                <img :src="`../src/assets/icons/${data.weather[0].main}.png`">              
              </div>
              <p class="text-sm text-blue-500">{{ data.main.temp_min.toFixed(0) }}°C</p>
              <p class="text-sm text-red-600">{{ data.main.temp_max.toFixed(0) }}°C</p>
            </div>
            
            <!-- Répétez ce bloc pour chaque jour -->
            <!-- ... -->
          </div>
        </div>
      </section>
</template>