<script setup>
import { ref } from 'vue';
import { formsHandler } from '@/stores/favorites.js';
import { RouterLink } from 'vue-router'


const forms = formsHandler();
const cityString = ref('');

let cityPos = ref({});

async function cityConfirm() {
    cityPos.value = await forms.getCoord(cityString.value);
    if (cityPos.value){
      cityPos.value = {name:cityPos.value[0].name , lat: cityPos.value[0].lat, long:cityPos.value[0].lon};
      forms.addToFavorites(cityPos.value);
    }
}
</script>

<template>
  <section class="p-5 mt-12 mb-6 bg-white bg-opacity-75 rounded-lg shadow">
      <h2 class="mb-4 text-xl font-bold">Ajouter une Localisation</h2>
      <form >
          <div class="mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="location">
                  Nom de la Localisation
              </label>
              <input
                  v-model.lazy="cityString"
                  class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  id="location"
                  type="text"
                  placeholder="Paris, France"
              />
          </div>
          <div class="flex items-center justify-between">
              <button
                  type="submit"
                  class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                  @click.prevent='cityConfirm'
              >
                  Ajouter
              </button>
          </div>
      </form>
  </section>
  <section class="p-5 bg-white rounded-lg shadow">
      <h2 class="mb-4 text-xl font-bold">Vos Localisations Favorites</h2>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        <!-- Affichage des localisations favorites -->
        <div v-for="(favorite, index) in forms.favorites" :key="index"
          class="flex items-center justify-between p-4 bg-gray-200 rounded-lg"
        >
          <span>{{ favorite.name }}</span>
          <div>
            <RouterLink
              class="px-2 py-1.5 mx-4 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline" :to="{ name: 'favoritesIndex', params: { id: index } }">
            Voir Météo
            </RouterLink>
                    
            <button
              class="px-2 py-1 font-bold text-white bg-red-500 rounded hover:bg-red-700 focus:outline-none focus:shadow-outline"
              @click="forms.deleteLocation(index)"
            >
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </section>
  
</template>