<script setup>
const props = defineProps(["hourly"]);


const formatTime = (datetime) => {
  const date = new Date(datetime);
  const hours = date.getHours();
  return `${hours.toString().padStart(2, '0')}`;
};

</script>

<template>
    <section class="p-5 mb-6 bg-white rounded-lg shadow">
        <h2 class="mb-4 text-xl font-bold">Prochaines Heures</h2>
        <div class="overflow-x-auto">
          <div class="flex space-x-8">
            <!-- Blocs de prévisions horaires ici -->
            <div v-for="(data, index) in props.hourly" :key="index" class="text-center">
              <p class="text-lg">{{ formatTime(data.dt_txt) }} h</p>
              <div class="w-20 h-20 ml-2 text-yellow-300">
                <img :src="`../src/assets/icons/${data.weather[0].main.toLowerCase()}.png`">              
              </div>
              <p class="text-lg">{{ data.main.temp.toFixed(0) }}°C</p>
            </div>
            
          </div>
        </div>
    </section>
</template>
