<script setup>
import { ref , onMounted} from 'vue';

const props = defineProps(["instant"])


const months = [ "Jan", "Fév", "Mar", "Avr", "Mai", "Juin",
  "Juil", "Août", "Sept", "Oct", "Nov", "Déc"];

let hour = ref("");
let dateNow = ref("");


onMounted(() => {
  const date = new Date();
  const monthName = months[date.getMonth()];
  hour.value = `${date.getHours()}:${date.getMinutes()}`;
  dateNow.value = `${date.getDate()} ${monthName} ${date.getFullYear()}`;
})
</script>

<!-- <p v-if="weatherInstant">{{ weatherInstant.name }} {{ weatherInstant.main.temp }} {{ weatherInstant.weather[0].description }} </p> -->
<template>
    <section
        class="flex flex-col p-5 mb-6 bg-white bg-opacity-75 rounded-lg shadow grow"
        style="flex-grow: 1"
      >
        <header class="mb-4">
          <h2 class="text-xl font-bold">Météo Instantanée</h2>
        </header>
        <article
          class="flex items-center justify-between grow"
          style="flex-grow: 1"
        >
          <div>
            <h3 class="text-lg font-semibold">{{  props.instant.name  }}</h3>
            <time class="text-sm text-gray-600" datetime="2023-01-01T10:00"
              >{{ hour }}<br />{{ dateNow }}</time
            >
          </div>
          <div class="flex">
            <div class="text-right">
              <p class="text-5xl">{{ props.instant.main.temp.toFixed(0) }}°C</p>
              <p class="text-lg text-gray-600">{{ props.instant.weather[0].description }}</p>
            </div>
            <!-- Icône météo (à remplacer par une vraie image) -->
            <div class="w-20 h-20 ml-2 text-yellow-300">
              <img :src="`../src/assets/icons/${props.instant.weather[0].main.toLowerCase()}.png`">
            </div>
          </div>
        </article>
      </section>
</template>